@import "helpers/_reset"
@import "helpers/_variables"
@import "helpers/fonts"
@import "layout/_header"
@import "layout/container"
@import "layout/_footer"

body
  color: $true-color
  background-color: white
  background-image: url(../img/background.png)
  background-repeat: no-repeat
  background-position: top
  font-size: 1em

#container
  width: 1026px
  margin: 0 auto
  display: block
